@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  scroll-behavior: smooth;
}

input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus {
    -webkit-box-shadow: transparent 0 0 0px 1000px;
    transition: background-color 5000s ease-in-out 0s;
  }

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scrollbar:hover {
  scrollbar-color: #cbd5e1 transparent;
}

